@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.skills-body {
  height: 80%;
  width: 80%;
  margin: auto;
}
.skill-contain {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.skill h1 {
  font-weight: 600;
  font-size: 25px;
}
.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  height: 30px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #b8b5ff, #b8b5ff);
  box-shadow: 0 3px 3px -5px #b8b5ff, 0 2px 5px #b8b5ff;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
